:root{
    --primary-color: #0078d4;
    --text: #ffffff;
    --body-bg: #222222;
    --form-bg: #333333;
}

input[type="submit"]:hover {
    background-color: #005a9e;
}
input[type="text"] {
    background-color: transparent;
    color: #f0f0f0;
  }
input[type="text"]:focus {
    background-color: #222222;
  }
input[type="submit"]:active {
    background-color: #004578;
}